@model IEnumerable<miPT_Project_6.Models.Trainers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerID)
        </td>

        <td>
            @Html.ActionLink("View Client List", "ClientList",  "ClientDetails", new { Id = item.TrainerID }, new { @class = "btn btn-info" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerID })
        </td>
    </tr>
}

</table>
