@model CodeFirstSample.ViewModels.CustomerDetailsViewModel

@{
    Layout = "~/Views/_SharedLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.Label("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.Label("Contact Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Edit", "Edit", new { customerId = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
