@model miPT_Project_6.Models.UserWorkouts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserWorkouts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workouts.WorkoutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workouts.WorkoutName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserWorkoutID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
