@model IEnumerable<miPT_Project_6.Models.UserWorkouts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workouts.WorkoutName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workouts.WorkoutName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserWorkoutID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserWorkoutID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserWorkoutID })
        </td>
    </tr>
}

</table>
